@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');
*{
    margin: 0;
    padding: 0;
}

nav ul{
    list-style-type: none;

}

body{
    background-image: url('./791a4230efcc5bc5f33293c1d5e96d51.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;

}

nav{
    background-color: #4a431b95;
    color: white;
    height :60px;
    display: flex;
    align-items: center;
    padding: 0px 15px;
    font-family: 'Saira', sans-serif;
    font-size: 2rem;

}
.gameContainer{
    display:flex;
    justify-content: center;
    margin: 50px 18vw;
    background-image: url('./791a4230efcc5bc5f33293c1d5e96d51.jpg');
    box-shadow: 0 0 10px 5px #e7d972,
    0 0 20px 7px #ebecca,
    0 0 25px 20px #e8c77a,
    0 0 30px 25px #f8e36a;
    opacity: 80%;
    width:65vw;
    


}
.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns:repeat(3, 10vw) ;
    border: 5px solid black;
    border-radius: 5%;
    margin: 40px 0px 40px 0px;
    
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.box:hover{
    background-color: rgb(225, 191, 232);
    display: flex;
    flex-wrap: wrap;
  
}

.info{
    font-size: 25px;
    font-family: 'Saira', sans-serif;
}
.gameInfo{
    padding : 0px 34px;
    margin: 40px 0px 40px 0px;
    
}

.gameInfo h1{
    font-size: 2.5rem;
}

.imgbox img{
     width: 0;
     transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

#reset{
    margin: 0 23px;
    padding: 1px 18px;
    background-color: rgb(223, 216, 230);
    border-radius: 15px;
    font-family:'Saira', sans-serif;
    font-size: 15px;
    font-weight: bolder;
}

@media screen and (max-width:900px)
{
    .gameContainer{
        flex-wrap: wrap;
    }

    .gameInfo{
        margin-top: 34px;
    }

    .gameInfo h1{
        font-size: 1.5rem;
    }

    .container{
        grid-template-rows: repeat(3,20vw);
        grid-template-columns: repeat(3,20vw);
    }
}